body {
  width: 50%;
  margin: auto;
  padding: 50px 50px;
  font-family: "Helvetica", sans-serif;
  line-height: 150%;
  color: #111;
  background-color: #f3f3f3;
  text-align: justify;
}
.bold{
  font-weight: bold;
}

h1,h2,h3{
  color: #222;
}

h1{
  font-size: 50px;
  line-height: 90%;
  margin-bottom: 10px;
}
h2{
  font-size: 30px;
  margin-top: 20px;
}

ol li{
  font-weight: normal;
  margin-top: 20px;
}

ol li li {
  list-style-type: lower-alpha;
  margin-top: 20px;
}

li{
  font-weight: normal;
  margin-top: 20px;
}
header p{
  padding: 0;
  margin: 0;
}
