body {
    font-family: sans-serif;
}


/*  Start Kode til blogginnlegg og bloggside. */
.blogblock{
    margin-bottom: 40px;
    margin-top: 40px;
    position:relative;
    width: 90%;
    height: 300px;
    
}

.blogthumb_right{
    width: 300px;
    float: right;
    padding: 20px;
      
}
.blogthumb_left{
    width: 300px;
    padding: 20px;
    float: left;
    
}

.blogtext_left {
    
    float: left;
    position: relative;
    width: 50%;
    
}
.blogtext_right{
    float: right;
    position: relative;
    width: 50%;
    
}



/*  Slutt Kode til blogginnlegg og bloggside */